@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto Elevador</h1>
    <p>Projeto simulação de um elevador</p>
    <img src="img1.jpg" width="700"/>
    <img src="img2.jpg" width="700"/>
    <img src="img3.jpg" width="700"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
